body{
  background-color:lightblue;
  margin: 0px 0px 0px 0px;
  font-family: cursive;
}
#header{
  background-color:Brown;
  padding-bottom: 20px;
  text-align: center;
}
#header h1{
  text-decoration: underline;
  text-decoration-color: lightblue;
}
#nav{
  width: 100%;
  margin: auto;
  text-align:left;
}
#nav a{
  color: yellow;
  width: 150px;
  padding-left: 20px;
  padding-right: 20px;
  border: solid 2px black;
}
#main{
  margin: auto;
  border: solid 1px lightblue;
  width: 80%;
  padding: 5px;
  margin-top: 5px;

}
#main h2 #main form{
  text-align: center;
}
#main table{
  width: 100%;
  text-align: center;
  color: yellow;
  border: solid 2px black;

}
#main table th{
  background-color: black;
  color: white;
}
#main table td{
  border: solid 2px black;
}
.Btn{
  font-size: 18px;
  text-decoration: underline;
  color: black;
  background-color: white;
  padding:auto;

}
#main form input{
  margin: auto;
  color: black;
  background-color: white;
}
